@font-face {
    font-family: Inconsolata;
    src: url(Inconsolata-Regular.ttf);
}

.body {
    height: 100%;
}

* {
    border-radius: 0 !important;
}

.container {
    background-color: #1D1F21;
    border-style: solid;
    border-width: 25px 5px 5px 5px;
    border-color: #3a3a3a;
    width: 952px;
    padding: 25px;
    font-family: 'Inconsolata', monospace;
    font-size: 13px;
}

.hero.is-dark {
    background-color: #1D1F21
}

li a {
    color: #c5c8c6;
}

li a:hover, li a:visited, li a:active {
    text-decoration: none;
    transition:.1s;
}

#google {
    color: #CC6666;
}


#google ul li a {
    color: #c5c8c6;
}

#google ul li a:hover {
    color: #CC6666;
}

#jp {
    color: #81A2BE;
}

#jp ul li a {
    color: #c5c8c6;
}

#jp ul li a:hover {
    color: #81A2BE;
}

#boards {
    color: #B5BD68;
}

#boards ul li a {
    color: #c5c8c6;
}

#boards ul li a:hover {
    color: #B5BD68;
}

#dev {
    color: #B294BB;
}

#dev ul li a {
    color: #c5c8c6;
}

#dev ul li a:hover {
    color: #B294BB;
}

#docs {
    color: #A64848;
}

#docs ul li a {
    color: #c5c8c6;
}

#docs ul li a:hover {
    color: #A64848;
}

#utils {
    color: #597C99;
}

#utils ul li a {
    color: #c5c8c6;
}

#utils ul li a:hover {
    color: #597C99;
}

#web {
    color: #7B8235;
}

#web ul li a {
    color: #c5c8c6;
}

#web ul li a:hover {
    color: #7B8235;
}

#server {
    color: #845C90;
}

#server ul li a {
    color: #c5c8c6;
}

#server ul li a:hover {
    color: #845C90;
}

@media (min-width: 544px) {
  .container {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .container {
    font-size: 16px;
  }
}

.form-control {
    background-color: #1D1F21;
    display:none;
    padding: 0px;
    border: none;
    color: #c5c8c6;
}

input[type="search-input"]:focus {
    background-color: #1D1F21;
    color: #c5c8c6;
}

input[type="search-input"]:hover {
    background-color: #222426;
    color: #c5c8c6;
}
#searchform {
    display: block;
    text-align: center;
    width: 100%;
}

form {
    display: inline-block;
    width: 90%;
}

label {
    color: #CC6666;
    display:inline-block;
    float: left;
    padding-right: 1em;
}
